@import 'tw-animate-css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #475569;
  --card: #f1f5f9;
  --card-foreground: #475569;
  --popover: #ffffff;
  --popover-foreground: #475569;
  --primary: #ed7f11;
  --primary-foreground: #ffffff;
  --secondary: #f59e42;
  --secondary-foreground: #ffffff;
  --muted: #f1f5f9;
  --muted-foreground: #475569;
  --accent: #f08a1e;
  --accent-foreground: #ffffff;
  --destructive: #e53e3e;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #f1f5f9;
  --ring: #cbd5e1;
  --chart-1: #3182ce;
  --chart-2: #2c5282;
  --chart-3: #805ad5;
  --chart-4: #f6e05e;
  --chart-5: #f56565;
  --radius: 0.5rem;
  --sidebar: #f1f5f9;
  --sidebar-foreground: #475569;
  --sidebar-primary: #ffffff;
  --sidebar-primary-foreground: #ed7f11;
  --sidebar-accent: #f59e42;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #cbd5e1;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --card: #1e293b;
  --card-foreground: #f1f5f9;
  --popover: #1e293b;
  --popover-foreground: #f1f5f9;
  --primary: #f59e42;
  --primary-foreground: #ffffff;
  --secondary: #ed7f11;
  --secondary-foreground: #ffffff;
  --muted: #334155;
  --muted-foreground: #94a3b8;
  --accent: #f59e42;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #334155;
  --input: #334155;
  --ring: #64748b;
  --chart-1: #3b82f6;
  --chart-2: #1d4ed8;
  --chart-3: #7c3aed;
  --chart-4: #eab308;
  --chart-5: #ef4444;
  --sidebar: #1e293b;
  --sidebar-foreground: #f1f5f9;
  --sidebar-primary: #f59e42;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f59e42;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #334155;
  --sidebar-ring: #64748b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
   
  }
  body {
    @apply bg-background text-foreground;
  }
}





html {
  scroll-behavior: smooth;
}